.header {
    background: url(mainpicture.jpg) no-repeat center;
    height: 350px;
    color: black;
    text-align: center;
}
.mainText {
    padding-top: 5%;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: green;
}
a {
    color: white;
}

h1 {
    margin: 0;
}

